
#top {
    position: relative;
    margin: 0px 0px 0px 0px;
    height: 50px;
    z-index: 2;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    position: relative;
    float: left;
    background-color: #ece3a5;
    padding: 0px;
    width: 270px;
}


#content {
    margin-left: 270px;
    padding: 110px 60px 60px 60px;    
}

#top a:link, #top a:visited {
  color: #3f4a59 !important;
  text-decoration: none;
  font-family: Arial;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : none;
}

#form.toggled #left #menu_lateral{

    margin-left: -270px;
    
}
#form.toggled #content {
    margin: 110px 60px 0 60px;
    padding: 0px;
}

.navbar-default {
    margin: 0 !important;
    background: white !important;
}

.nav-pills > li > a {

    border-radius: 4px;
    color: gray !important;

}

.nav-pills > li.active > a{

    color: #fff !important;
    background-color: #337ab7;

}

.nav-tabs > li > a {
    color: gray !important;
}