
#menu_superior{
    box-shadow: 5px 0px 5px #d3d6da;
    height: 50px;
    padding: 0px;
    margin: 0px;
}

#menu_lateral {
    
    height: 100%;
    width: 270px;
    transition: all 0.6s;
    background: #3f4a59; /*#f5f5f5;*/
    box-shadow: 5px 0px 5px #d3d6da;
    position: fixed; 
    color: #141018; /*color del texto del menu lateral*/
    list-style: none;
    left:0px;
}

.ui-panelmenu .ui-menuitem-text {
    float: none;
    color: white;
}

.ui-panelmenu-panel .ui-state-default:hover{
    background: #33cabb;
}


/*Modifico los atributos del ITEM del Menú Lateral*/
.ui-panelmenu-panel .ui-state-default{
    line-height: 35px;
    background: #3f4a59;
    border-bottom: solid 1px #3b4553 !important;
    box-shadow: 0px 0px 0px #d3d6da;
}

.ui-widget-content {
    border: 0px;
}

a:link{
    color: #ffffff !important;
    font-size: 14px;
    font-weight: lighter  !important;
    text-shadow: 0 0 0 !important;
    color: #d3d6da;
}

a:link:hover {

    color: whitesmoke; /*color del texto cuando el cursor se encuentra sobre el item*/
    text-decoration: none;
    font-weight: lighter;

}

.ui-panelmenu .ui-panelmenu-panel {
    padding: 0;
    margin: -2px 0px -2px -2px;
}

.ui-menu-list{
    background: #455160;  
    margin: -1px 0 -1px 0;
}


.ui-panelmenu .ui-panelmenu-content {
    padding: 0;
    border-top: 0;
    overflow: auto;
}


.ui-panelmenu .ui-menuitem-link {
    display: block;
    width: 100%;
    text-decoration: none;
    border-bottom: solid 1px #3b4553 !important;
    padding: 0 0 0 40px;
    line-height: 37px;
    cursor: pointer;
    border: 0px;
    background: #455160;
}

/*Agrego un color en los subitems cuando el cursor pasa sobre dichos items*/
.ui-menuitem *:hover{
    background: #3b4553;
}

.ui-menuitem-link:hover{
    
    color: whitesmoke; /*color del texto cuando el cursor se encuentra sobre el item*/
    text-decoration: none;
}

.ui-panelmenu .ui-icon{
   
}


/*DATATABLE*/
.ui-datatable thead td, .ui-datatable tbody td {
    color: #555 !important;
    border: 1px solid #ddd;
    font-size: 14px;
}

.ui-datatable-header {

    text-align: right !important;
    background: white;
    border: transparent;
    padding-bottom: 10px !important;
}

.ui-widget-header {

    color: #333333;
    font-weight: normal !important;

}

/*defino el tamaño de letra de los inputText*/
.ui-widget .ui-widget {
    font-size: 14px;
}